* {
    padding: 0;
    margin: 0;
}

body {
    background: 
        linear-gradient(45deg, rgba(255,255,255,0.1), rgba(0,0,0,0.7)),
        url('../img/pexels-asadphoto-457882.jpg') center/cover no-repeat; 

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.outercircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 5px solid rgba(0, 0, 0, 0.265);
    border-bottom: 5px solid rgba(64, 100, 174, 0.934);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

h2 {
    font-size: 30px;
}
